.postCard{
    width:inherit;
    word-wrap: break-word;
    .authorLabel{
        font-weight: bold;
        a{
            text-decoration: none;

        }
    }
    .commentBody{
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
