.postCreator {
  margin-bottom: 20px;

  .form {
    width: 500px;
    margin: 0 auto;

    .titleInput {
      width: 400px;
      margin: inherit;
    }

    .bodyInput {
      width: 400px;
      height: 100px;
      margin: inherit;
    }
    textarea {
      resize: none;
    }
    .formBtn {
      margin-top: 10px;
      text-align: center;
      .divider {
        width: 30px;
        height: auto;
        display: inline-block;
      }
      button {
        width: 65px;
      }
    }
  }
}
